
/* HOME PAGE STARTS */

/*  */

.top-section{
    position: fixed;
    width: 100%;
    background-color: white;
  

}

.top-intro{
    display: flex;
    justify-content: center; 
    padding: 20px 0px;
}

.intro-navigator{
   padding-top: 5px;
}

.comapny-logo{
    margin-right: 20px;
   
}

.comapny-logo img{
    width: 100%;
    height: 45px;
}

.links-content{
    display: inline; 
    padding: 0px 10px;
    text-align: center;
    border: 0px;
    border-right: 3px solid #5abeeb;
    font-size: 13px !important;
    font-weight: 500;
    
}

.cheron-span i{
    padding: 0px !important;
    margin: 0px !important;
    font-size: 10px;
}

.language-divider{
    padding: 0px 4px;
}



.links-content a{
    color: black;
    text-decoration: none;
    
}

.links-content a:hover{
    text-decoration: underline;
}

.logIn-btn{
    display: inline;
}

.logIn-btn button{
    background-color: transparent;
    border: none;
    width: 70px;
    height: 35px;
    font-size: 13px !important;
    font-weight: 500;
    
}

.logIn-btn button:hover{
   background-color: rgba(220, 217, 217, 0.508);
}


.nav-section{
    background-color: #e6e7e8;
    justify-content: center;
    text-align: center;
    
    display: flex;
}


.nav-btn{
    padding: 10px 18px;
    border: 0px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 490;
    height: 60px;
}

.nav-btn:hover{
    background-color: #009adf;
    color: white;
    transition: ease-in-out 0.5s;
}

.nav-form{
    padding-top: 10px;
    position: relative;
       
}

.nav-form input{
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    height: 40px;
    width: 250px;
}

.nav-form button{
    background-color: #0060a2;
    color:white;
    width:40px;
    height: 40px;
    border: 0px;
    position: absolute;
    right: 0;
    top: 10px;

}


/*  */

.row{
    width: 100%;
    overflow-x: hidden;
}


/*  */

.hero{
    padding: 170px 0px 20px 0px;
}

.navigator{
    margin: 0 !important;
    padding: 0 !important;
}

.navigator a{

    color: #009adf;
    text-decoration: none;
    padding-left: 80px;
    
}

.hero-list{
    background-image: url(../IMAGES/creation-etiquette-bann-hp.jpg);
    height: 42vh;
    padding: 60px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
}

.hero-list-1{
    background-image: url(../IMAGES/rse-bann-hp_0.jpg);
}

.hero-list-2{
    background-image: url(../IMAGES/relais-pickup-bann-hp_0.jpg);
}

.bg-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(48, 48, 48, 0.6);
    z-index: 0;
}

.hero-content{
    position: absolute;
    padding-top: 55px;
    z-index: 3;
    color: white;
}

.edge-indicators{ 
    justify-content: start !important;
}

.btn{
    height: 7px !important;
    width: 35px !important;
    margin-right: 30px !important;
    
    
}

.hero-content button{
    background-color: transparent;
    border: 0px;
    color: white;
    font-weight: 200;
}

.hero-content h3{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
}


.hero-content-1{
    background-color:#009adf;
    display: flex;
}

.hero-content-1 div h5{
    padding-top: 25px;
    color: white;
    padding-left: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.tracking-section{
    width: 55%;
    margin: 30px 0px 0px 10px;
}

.hero-content-2{
    background-color:#e6e7e8;
    padding: 20px 15px;
    margin-top: 30px;
}

.tracking-parcel{
    display: flex;
}

.tracking-parcel div h2{
    color: #009adf;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.tracking-parcel div h2 span{
    font-weight: 300;
}

.tracking-parcel div:last-child{
    padding-left: 10px;
}

.track-form{
    padding-top: 10px;
    display: flex;
}

.track-form input{
    width: 78%;
    height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    border: 0px;
}

.track-form button{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    color: white;
    background-color:#009adf;
    border: 0px;
}


/*  */


/* processing-section STARTS */

.processing-section{
    margin:0% 15%;
}

.processing-section div h3{
    color: #009adf;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

.processing-form{
    background-color:#e6e7e8;
    padding: 20px 5px 20px 5px !important;
    
}

.business-consignee{
    background-color: #f4f4f4;
    padding: 0px 0px;
    margin: 0 !important;
    height: 200px;
    display: flex;

}

.colored-div{
    background-color: #b1e0f5;
    height: 100%;
    width: 15px;
    display: none;
   
}

.processing-details{
    padding: 20px 20px;
    width: 100%;
    
}


.processing-details select{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.741);
    display: block;
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 300;
    background-color: transparent;
}

.processing-details input{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.741);
    display: block;
    width: 100% !important;
    height: 50px;
    font-size: 15px;
    font-weight: 300;
    background-color: transparent;
}

.processing-list{
    width: 100%;
   
}

.processing-list h4{

    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.724);
}

.processing-list-m{
    margin-left: 5px;
}

.processing-content{
    display: flex;
   
}

.error-span{
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    display: none;
}

.business-customer-check{

    padding: 10px 0px;
}

.shipment-info{
    padding: 30px 70px 10px 50px;
}

.shipment-info div h5{
   font-weight: 470;
   font-size: 23px;
}

.shipment-info div input{
    width: 30px;
    height: 20px;
   
    
}

.shipment-info div span{
   font-size: 19px;
  
}

.offer-btn{
    float: right;
    margin: 20px 0px;
    width: 220px;
    height: 45px;
    text-align: center;
    color: white;
    background-color: #009adf;
    border: 0px;
    font-size: 19px;
}

.offer-btn:hover{
    background-color: #5abeeb;
    transition: ease-in-out 0.4s;
}

.quality-content{
    padding: 90px 0px;
    text-align: center;
}

.quality-content h1{
    font-weight:330;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 38px;
}

.quality-list{
    text-align: center;
}

.quality-list p{
    padding: 15px;
    font-weight: 320;
    font-size: 16px;
}

/* processing-section ENDS */


/* history-section STARTS */

.history-section{
    background-color: #ccebf9;
    padding: 1% 15%;
}

.history-content{
    padding: 70px 0px;
}

.history-content h3{
    color: #009adf;
    font-size: 25px;
    padding: 30px 0px;
    font-weight: 400;
}

.history-content div p{
    font-weight: 370;
    font-size: 16px;
    letter-spacing: 1px;
}

.history-content div p span{
    color: black;
    font-size: 17px;
    font-weight: 500;
}

.findUs-info{
    background-color:#414042;
    color: whitesmoke;
    height: 100%;
    text-align: center;
    padding: 15px 25px;
}

.findUs-info h5{
    padding: 10px 0px;
    font-size: 27px;
    font-weight: 400;
}

.findUs-info p{
    padding: 15px 0px;
    font-size: 17px;
    font-weight: 340;
}

.findUs-info form{
   padding-top: 80px;
}

.findUs-info form input{
    width: 100%;
    height: 45px;
    text-align: center;
    border: none;
}

.findUs-info button{
    background-color:#0060a2;
    border: 0px;
    color: whitesmoke;
    width: 190px;
    height: 45px;
    margin-top: 15px;
}

.findUs-info button:hover{
    background-color: #009adf;
    transition: ease-in-out 0.5s;
}

/* history-section ENDS */


/* enquiry-section STARTS */

.enquiry-section{
    margin: 2% 15%;
}

.enquiry-content{
    background-color: #e6e7e8;
    padding: 30px 20px;
    height: 45vh;
    margin-right: 0;
}

.enquiry-content h4{
    color: #414042;
    font-size: 19px;
    font-weight: 700;
    padding: 10px 0px;
}

.enquiry-content p{
    font-size: 15px;
    font-weight: 340;
   
    height: 90px;
   
}

.enquiry-content button{
    border: none;
    background-color: #414042;
    width: 220px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
   
    
}

.suggestion-list{
    background-color:#e6e7e8;
    padding: 20px 30px;
}

.suggestion-list ul{
    padding: 0px;
    list-style-type: none;
}

.suggestion-list ul li{
    font-size: 14px;
    font-weight: 500;
    padding-top: 3px;
}

.suggestion-list ul li:hover{
    color: #009adf;
    text-decoration: underline;
}

/* enquiry-section ENDS */


/* parcel-tracking STARTS */

.parcel-tracking{
    background-color: #009adf;
    padding: 3% 15%;
    color: white;
}

.parcel-detail h6{

    font-weight: 400;
    font-size: 20px;
    padding-bottom: 15px;
}

.parcel-detail p{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    
    height: 50px;
}

.parcel-form{
    float: right;
    position: relative;
    padding-top: 30px;
}

.parcel-form-1{
  float: left;
}

.parcel-form-1 select{
    width: 100%;
    height: 45px;
    padding: 10px 15px;
}

.parcel-form input{
    width: 300px;
    height: 45px;
    padding: 10px 15px;
}

.parcel-form button{
    position: absolute;
    right: 0px;
    background-color: #414042;
    width: 45px;
    height: 45px;
    color: white;

}

/* parcel-tracking ENDS */

.added-link{
    display: none;
}

/* Footer STARTS */

footer{
    padding: 2% 15%;
}

.footer-section{
    border: 0px;
    border-bottom: 1px solid black;
    padding: 30px 0px;
}

.footer-content ul{
    padding:0px;
    list-style-type: none;
}

.footer-content ul li{
    font-size: 13px;
    font-weight: 500;
    padding-top: 15px;
    color: #272728c8;
    letter-spacing: 1px;
    
}

.footer-content ul li:hover{
    color: #009adf;
    text-decoration: underline;
}

.footer-content h5{
    color:#414042;
    font-weight: 470;
    font-size: 22px;
}

.socials-info i{

    padding-left: 16px;
    font-size: 22px;
    padding-top: 15px;
    color: #009adf;
}

.bottom-section{
    padding: 55px 0px;
}

.bottom-info{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.bottom-info div:first-child img{
    height: 60px;
    width: 130px;
}

.bottom-info div:last-child img{
    height: 40px;
    width: 170px;
}

.bottom-section button{
    background-color: transparent;
    border: 0px;
    color: gray;
    padding: 6px 5px;
    margin: 0 !important;
    font-size: 14px;
    font-weight: 350;

}

.bottom-section button:hover{

    background-color: #009adf;
    color: white;
    transition: ease 0.6s;

}


/* Footer ENDS */

/* HOME PAGE ENDS */




@media screen and (max-width : 778px){

    .edge-indicators{
        display: none !important;
    }

    .hero-list{
        width: 100%;
        height: 30vh;
    }

    .tracking-section{
        width: 100%;
    }

    .track-form input{
        width: 85%;
    }

    .processing-section{
        margin: 0;
        padding: 20px 10px;
    }

    .processing-content{
        display: block;
    }
    
    .processing-list-m{
        margin: 0;
        margin-top: 15px;
    }

    .enquiry-section{
        margin: 40px 15px;
    }

    .enquiry-content button{
        margin-top: 5px;
    }

    .history-section{
        padding: 30px 20px;
    }

    .parcel-tracking{
        display: none;
    }

    footer{
        padding: 20px 20px;
    }

    .footer-content ul li{
        display: none;
    }

    .footer-content h5{
        color: #009adf;
        font-weight: 500;
    }

    .footer-content h5:hover{
        text-decoration: underline;
    }

    .removed-link{
        display: none;
    }

    .added-link{
        display: block;
    }

    .bottom-section button{
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footer-section{
        border-top: 1px solid black;
    }
}